<template>
  <v-layout row wrap ma-3 justify-center>
    <v-flex xs12 class="gamesList text-xs-center">
      <v-list class="transparent text-xs-left">
        <v-slide-x-transition hide-on-leave group>
          <v-card
            class="ma-3"
            v-for="game in filteredGames"
            :key="game.id"
            color="white"
          >
            <v-layout pa-2 py-4>
              <v-flex class="flex-img" v-if="isNotMobile">
                <v-img
                  :src="game.image_src"
                  max-height="180"
                  max-width="150"
                  contain
                ></v-img>
              </v-flex>
              <v-flex xs10 sm7 class="text-xs-center text-sm-left">
                <h1 class="headline gameTitle">
                  {{ game.title }}
                </h1>
                <v-layout>
                  <v-flex>
                    <div class="d-inline-block">
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                          <v-icon class="iconSize" v-on="on">
                            mdi-account-multiple
                          </v-icon>
                        </template>
                        <span>Number of players</span>
                      </v-tooltip>
                      <span class="infoAlignment">{{ game.players }}</span>
                    </div>
                    <div class="d-inline-block">
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                          <v-icon class="iconSize" v-on="on">mdi-clock</v-icon>
                        </template>
                        <span>Duration</span>
                      </v-tooltip>
                      <span class="infoAlignment">{{ game.game_length }}</span>
                    </div>
                    <div class="d-inline-block">
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                          <v-icon class="iconSize" v-on="on"
                            >mdi-lightbulb-on
                          </v-icon>
                        </template>
                        <span>Difficulty</span>
                      </v-tooltip>
                      <span class="infoAlignment">{{ game.complexity }}</span>
                    </div>
                    <div class="d-inline-block">
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                          <v-icon class="iconSize" v-on="on">mdi-star</v-icon>
                        </template>
                        <span>Rating</span>
                      </v-tooltip>
                      <span class="infoAlignment">{{ game.rating }}</span>
                    </div>
                    <v-expansion-panel class="elevation-0 pa-0">
                      <v-expansion-panel-content>
                        <template v-slot:header>
                          <div>Description</div>
                        </template>
                        <div class="gameDescription font-weight-light">
                          {{ game.description }}
                        </div>
                      </v-expansion-panel-content>
                      <v-expansion-panel-content v-if="game.recommendation">
                        <template v-slot:header>
                          <div>Recommendation</div>
                        </template>
                        <div class="gameDescription font-weight-light">
                          {{ game.recommendation }}
                        </div>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                  </v-flex>
                </v-layout>
              </v-flex>
              <v-spacer />
              <v-layout row wrap column justify-center align-end class="pr-3">
                <v-flex class="flex-add">
                  <v-tooltip color="teal" left>
                    <template v-slot:activator="{ on }">
                      <v-btn flat icon v-on="on" :disabled="game.status === 1">
                        <v-icon
                          @click="selectGameForBooking(game)"
                          large
                          color="teal"
                        >
                          mdi-plus
                        </v-icon>
                      </v-btn>
                    </template>
                    <span>Book this game</span>
                  </v-tooltip>
                </v-flex>
                <v-flex class="flex-add pt-3">
                  <v-tooltip color="teal" left>
                    <template v-slot:activator="{ on }">
                      <v-btn flat icon v-on="on">
                        <v-icon
                          @click.stop="selectGameForReport(game.id)"
                          large
                          color="teal"
                        >
                          mdi-alert-circle
                        </v-icon>
                      </v-btn>
                    </template>
                    <span>Report flaw</span>
                  </v-tooltip>
                </v-flex>
              </v-layout>
            </v-layout>
          </v-card>
        </v-slide-x-transition>
      </v-list>
      <v-progress-circular
        indeterminate
        size="60"
        class="spinner"
        v-if="loading"
      >
      </v-progress-circular>
    </v-flex>
    <v-dialog v-model="dialogReport" max-width="400">
      <v-card>
        <v-card-title class="headline warning"
          ><span class="text--white">Booking</span></v-card-title
        >

        <v-card-text>
          <v-textarea
            v-model="reportComment"
            color="content"
            label="Comment what happened to the game"
          />
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn flat="flat" @click="dialogReport = false">
            Cancel
          </v-btn>

          <v-btn flat="flat" @click="reportGame()">
            Report
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogBooking" max-width="400">
      <v-card>
        <v-card-title class="headline teal"
          ><span class="text--white">Confirm booking</span></v-card-title
        >

        <v-card-text>
          Are you sure you want to book
          {{ game.title }}? If it is your first booking on selected day, it will
          be considered as a primary booking.
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn flat="flat" @click="dialogBooking = false">
            Cancel
          </v-btn>

          <v-btn flat="flat" @click="bookGame()">
            Confirm
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
export default {
  name: "GamesListView",
  data() {
    return {
      lastDocument: null,
      step: 10,
      dialogReport: false,
      dialogBooking: false,
      reportComment: "",
      gameId: "",
      game: {}
    };
  },
  computed: {
    isNotMobile() {
      return this.$vuetify.breakpoint.name !== "xs";
    },
    bookings() {
      return this.$store.state["bookings"];
    },
    games() {
      return this.$store.state["games"];
    },
    filteredGames() {
      let filtered = this.games;
      if (this.searchTitles) {
        filtered = filtered.filter(v =>
          v.title.toLowerCase().includes(this.searchTitles.toLowerCase())
        );
      }
      if (this.searchPlayers) {
        filtered = filtered.filter(v => {
          const range = v.players.split("–").map(v => parseInt(v));
          return (
            range[0] <= this.searchPlayers && range[1] >= this.searchPlayers
          );
        });
      }
      if (this.searchDifficulties) {
        let range = [];
        switch (this.searchDifficulties) {
          case "Easy":
            range = [0, 2.5];
            break;
          case "Medium":
            range = [2.5, 3.5];
            break;
          case "Hard":
            range = [3.5, 5];
            break;
          default:
            range = [0, 5];
        }
        filtered = filtered.filter(v => {
          let difficulty = parseFloat(v.complexity.split("/")[0]);
          return range[0] <= difficulty && range[1] > difficulty;
        });
      }
      if (this.recommended) {
        filtered = filtered.filter(v => v.is_recommendation === true);
      }
      return filtered;
    },
    loading: {
      get() {
        return this.$store.state["loadingGames"];
      },
      set(newValue) {
        this.$store.commit("SET_LOADING_STATE", newValue);
      }
    },
    searchTitles() {
      return this.$store.state["searchTitles"];
    },
    searchPlayers() {
      return this.$store.state["searchPlayers"];
    },
    searchDifficulties() {
      return this.$store.state["searchDifficulties"];
    },
    recommended() {
      return this.$store.state["recommended"];
    }
  },
  methods: {
    reportGame() {
      this.dialogReport = false;
      this.$store
        .dispatch("reportGame", {
          comment: this.reportComment,
          gameId: this.gameId
        })
        .then(() => {
          this.comment = "";
          this.gameId = "";
        });
    },
    selectGameForReport(id) {
      this.gameId = id;
      this.dialogReport = true;
    },
    selectGameForBooking(game) {
      this.gameId = game.id;
      this.game = game;
      this.dialogBooking = true;
    },
    bookGame() {
      this.dialogBooking = false;
      this.$store.commit("SET_DRAWER_STATE", true);
      this.$store.dispatch("bookGame", this.gameId).then(() => {
        this.$store.dispatch("getBookings");
      });
    }
  },
  created() {
    this.loading = true;
    this.$store.dispatch("getGames").then(() => {
      this.loading = false;
    });
  }
};
</script>
<style scoped>
.iconSize {
  font-size: 30px;
  padding-right: 5px;
}

.gameTitle {
  padding-bottom: 10px;
}

.gameDescription {
  text-align: justify;
  line-height: 120%;
}

.infoAlignment {
  position: relative;
  top: -3px;
  padding-right: 15px;
}

.gamesList {
  padding-top: 20px;
}

.flex-img {
  flex: 0 1 180px;
}

.flex-add {
  flex: 0 1 20px;
}

.spinner {
  top: 20px;
}
</style>
