<template>
  <v-layout align-center justify-center row wrap class="fill-height background">
    <v-flex sm7 md5 lg4 class="name-parent">
      <div class="text-xs-center display-2 white--text name">
        <span class="font-weight-light">PE</span>
        <span>GEEK</span>
      </div>
      <v-form class="signInForm elevation-8" @submit.prevent="validateUser">
        <v-layout row wrap justify-center>
          <v-flex xs8 sm7 lg6>
            <v-text-field v-model="username" color="content" label="Username" />
          </v-flex>
          <v-flex xs12 class="signInButton text-xs-center">
            <v-btn @click="validateUser" large outline color="content"
              >Sign In</v-btn
            >
          </v-flex>
        </v-layout>
      </v-form>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: "SignInForm",
  data() {
    return {
      username: "",
      processing: false
    };
  },
  methods: {
    validateUser() {
      this.processing = true;
      this.$store.dispatch("checkUsername", this.username).then(() => {
        setTimeout(() => {
          this.processing = false;
          this.$router.push({ name: "home" });
        }, 100);
      });
    }
  }
};
</script>

<style scoped>
.signInForm {
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.signInButton {
  padding-top: 20px;
}

.name {
  position: absolute;
  width: 100%;
  top: -70px;
}

.name-parent {
  position: relative;
  height: 300px;
}

.hidden {
  opacity: 0;
}
</style>
