<template>
  <v-app>
    <router-view name="drawer" />
    <router-view name="alert" />
    <router-view name="toolbar" />
    <v-content color="gray">
      <v-fade-transition hide-on-leave leave-absolute>
        <router-view />
      </v-fade-transition>
    </v-content>
    <v-snackbar
      color="gray"
      v-model="searchBarState"
      top
      class="search-bar"
      :timeout="0"
      @keydown.esc="searchBarState = false"
    >
      <v-layout row wrap>
        <v-flex class="offset-lg1" xs12 sm4 lg4 px-3>
          <v-text-field
            clearable
            single-line
            class="elevation-0"
            color="content"
            label="Title"
            v-model="searchText"
            @input="searchByTitles()"
          ></v-text-field>
        </v-flex>
        <v-flex xs3 sm2 lg2 px-3>
          <v-text-field
            single-line
            label="Players"
            color="content"
            clearable
            v-model="searchPlayer"
            @input="searchByPlayers()"
          ></v-text-field>
        </v-flex>
        <v-flex xs4 sm3 lg2 px-3>
          <v-select
            single-line
            label="Difficulty"
            color="content"
            clearable
            :items="['Easy', 'Medium', 'Hard']"
            v-model="searchDifficulty"
            @input="searchByDifficulties()"
          ></v-select>
        </v-flex>
        <v-flex xs3 sm3 lg1 px-3>
          <v-switch
            v-model="recommended"
            color="content"
            label="Recommended"
          ></v-switch>
        </v-flex>
      </v-layout>
    </v-snackbar>
  </v-app>
</template>

<script>
export default {
  name: "App",
  computed: {
    searchBarState: {
      get() {
        return this.$store.state["searchBarState"];
      },
      set(newValue) {
        this.$store.commit("SET_SEARCH_BAR_STATE", newValue);
      }
    },
    recommended: {
      get() {
        return this.$store.state["recommended"];
      },
      set(newValue) {
        this.$store.commit("SET_RECOMMENDED", newValue);
      }
    },
    searchText: {
      get() {
        return this.$store.state["searchTitles"];
      },
      set(newValue) {
        this.$store.commit("SEARCH_TITLES", newValue);
      }
    },
    searchPlayer: {
      get() {
        return this.$store.state["searchPlayers"];
      },
      set(newValue) {
        this.$store.commit("SEARCH_PLAYERS", newValue);
      }
    },
    searchDifficulty: {
      get() {
        return this.$store.state["searchDifficulties"];
      },
      set(newValue) {
        this.$store.commit("SEARCH_DIFFICULTIES", newValue);
      }
    }
  },
  methods: {
    searchByTitles() {
      this.$store.commit("SEARCH_TITLES", this.searchText);
    },
    searchByPlayers() {
      this.$store.commit("SEARCH_PLAYERS", this.searchPlayer);
    },
    searchByDifficulties() {
      this.$store.commit("SEARCH_DIFFICULTIES", this.searchDifficulty);
    }
  }
};
</script>

<style>
.v-snack__content {
  height: auto;
}
.v-snack__wrapper {
  width: 100%;
  max-width: 100%;
}
.v-expansion-panel__header > :not(.v-expansion-panel__header__icon) {
  flex: 0 1 90px;
}
.background {
  background: -moz-linear-gradient(
    45deg,
    rgba(23, 149, 149, 1) 0%,
    rgba(16, 19, 46, 1) 100%
  ); /* ff3.6+ */
  background: -webkit-gradient(
    linear,
    left bottom,
    right top,
    color-stop(0%, rgba(23, 149, 149, 1)),
    color-stop(100%, rgba(16, 19, 46, 1))
  ); /* safari4+,chrome */
  background: -webkit-linear-gradient(
    45deg,
    rgba(23, 149, 149, 1) 0%,
    rgba(16, 19, 46, 1) 100%
  ); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(
    45deg,
    rgba(23, 149, 149, 1) 0%,
    rgba(16, 19, 46, 1) 100%
  ); /* opera 11.10+ */
  background: -ms-linear-gradient(
    45deg,
    rgba(23, 149, 149, 1) 0%,
    rgba(16, 19, 46, 1) 100%
  ); /* ie10+ */
  background: linear-gradient(
    45deg,
    rgba(23, 149, 149, 1) 0%,
    rgba(16, 19, 46, 1) 100%
  ); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#10132E', endColorstr='#179595', GradientType=1); /* ie6-9 */
}

.v-expansion-panel__header {
  padding: 0;
}

.search-bar {
  width: 100%;
  position: fixed;
  top: 64px;
  z-index: 1;
}

@media screen and (max-width: 960px) {
  .search-bar {
    top: 48px;
  }
}
</style>
