<template>
  <div class="toolbar">
    <v-alert v-model="alert" dismissible type="success" class="toolbarInfo">{{notification}}</v-alert>
    <v-alert v-model="errorAlert" dismissible type="error" class="toolbarInfo">{{errorNotification}}</v-alert>
  </div>
</template>

<style scoped>
.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.toolbarInfo {
  margin: 0;
}
</style>


<script>
import firebase from "../plugins/firebase.js";
import { setTimeout } from 'timers';
export default {
  data() {
    return {
      alert: false,
      errorAlert: false,
      notification: null,
      errorNotification: null
    };
  },
  created() {
    firebase.db.collection("notifications").onSnapshot((snapshot) => {
      snapshot.docChanges().forEach((change) => {
        if (change.type === "added") {
          var data = change.doc.data();
          var userId = localStorage.getItem('userId');
          if (data.user === userId) {
            var notifications = JSON.parse(localStorage.getItem('notifications') || "[]");
            if (notifications.indexOf(change.doc.id) < 0) {
              notifications.push(change.doc.id);
              localStorage.setItem('notifications', JSON.stringify(notifications));
              if (data.type === 0) {
                this.notification = data.msg;
                this.alert = true;
              }
              else {          
                this.errorNotification = data.msg;
                this.errorAlert = true;
              }
            }
          }
        }
      });
    });
  }
};
</script>