<template>
  <v-toolbar app clipped-right fixed>
    <v-toolbar-title class="headline text-uppercase content--text">
      <span class="font-weight-light">PE</span>
      <span>GEEK</span>
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <v-toolbar-items>
      <v-dialog v-model="dialog" persistent max-width="700">
        <template v-slot:activator="{ on }">
          <v-btn
            flat
            v-on="on"
            @click="runVideoCapture()"
            :fab="!isNotMobile"
            :small="!isNotMobile"
          >
            <v-icon>mdi-qrcode</v-icon>
            <span class="ml-2"><span v-if="isNotMobile">Scan</span></span>
          </v-btn>
        </template>
        <v-card>
          <video style="width: 100%" id="capturepreview"></video>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn flat @click="dialog = false">Close</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-menu
        ref="menu1"
        v-model="menu"
        :close-on-content-click="false"
        :nudge-left="20"
        lazy
        transition="scale-transition"
        offset-y
        full-width
        max-width="490px"
        min-width="290px"
      >
        <template v-slot:activator="{ on }">
          <v-btn
            flat
            @click="menu = true"
            :fab="!isNotMobile"
            :small="!isNotMobile"
            ><v-icon>mdi-calendar</v-icon
            ><span class="ml-2" v-if="isNotMobile">{{ date }}</span></v-btn
          >
        </template>
        <v-date-picker
          v-model="date"
          :landscape="isNotMobile"
          :no-title="!isNotMobile"
          @input="reloadGames()"
          color="content"
        ></v-date-picker>
      </v-menu>
      <v-btn flat @click="search()" :fab="!isNotMobile" :small="!isNotMobile"
        ><v-icon>mdi-magnify</v-icon
        ><span class="ml-2" v-if="isNotMobile">Filter</span></v-btn
      >
      <v-btn flat @click="logout()" :fab="!isNotMobile" :small="!isNotMobile"
        ><v-icon>mdi-logout</v-icon
        ><span class="ml-2" v-if="isNotMobile">Logout</span></v-btn
      >
    </v-toolbar-items>
    <v-toolbar-side-icon @click="showDrawer()"></v-toolbar-side-icon>
  </v-toolbar>
</template>

<script>
export default {
  name: "AppToolbar",
  data() {
    return {
      menu: false,
      dialog: false
    };
  },
  computed: {
    isNotMobile() {
      return this.$vuetify.breakpoint.name !== "xs";
    },
    date: {
      get() {
        return this.$store.state["date"];
      },
      set(newValue) {
        this.$store.commit("SET_DATE", newValue);
      }
    }
  },
  mounted() {
    this.scanner = new Instascan.Scanner({
      video: document.getElementById("capturepreview"),
      captureImage: true,
      continuous: true,
      scanPeriod: 1
    });
    this.scanner.addListener("scan", content => {
      if (content) {
        console.log(content.split("/")[2]);
        this.$store.commit("SEARCH_TITLES", content.split("/")[2]);
      }
      this.dialog = false;
    });
  },
  methods: {
    runVideoCapture() {
      Instascan.Camera.getCameras()
        .then(cameras => {
          if (cameras.length > 0) {
            this.scanner.start(cameras[0]);
          } else {
            console.error("No cameras found.");
          }
        })
        .catch(function(e) {
          console.error(e);
        });
    },
    logout() {
      localStorage.removeItem("userId");
      this.$store.commit("SET_DRAWER_STATE", false);
      this.$store.commit("SET_SEARCH_BAR_STATE", false);
      this.$router.push({ name: "signIn" });
    },
    showDrawer() {
      this.$store.commit("TOGGLE_DRAWER");
    },
    search() {
      this.$store.commit("TOGGLE_SEARCH_BAR");
    },
    reloadGames() {
      this.menu = false;
      this.$store.commit("SET_LOADING_STATE", true);
      this.$store.dispatch("getBookings");
      this.$store.dispatch("getGames").then(() => {
        this.$store.commit("SET_LOADING_STATE", false);
      });
    }
  }
};
</script>

<style scoped></style>
