<template>
  <v-navigation-drawer
    app
    fixed
    v-model="shown"
    class="content elevation-2 below-search"
    right
    clipped
    hide-overlay
    width="400"
  >
    <v-layout row wrap>
      <v-flex class="offset-xs10 pl-2" xs1>
        <v-btn
          fab
          flat
          small
          color="white"
          @click="$store.commit('TOGGLE_DRAWER')"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-flex>
      <v-flex xs12>
        <v-slide-x-transition group>
          <v-list
            subheader
            class="gamePanel"
            v-for="(games, day) in bookings"
            :key="day"
          >
            <v-layout justify-center class="dateBorder">
              <v-subheader class="dateStyle">{{ day }}</v-subheader>
            </v-layout>
            <v-slide-x-transition group>
              <v-list-tile v-for="game in games" :key="game.id">
                <v-list-tile-content>
                  <v-list-tile-title v-html="game.title"></v-list-tile-title>
                  <span v-if="game.is_primary" class="primaryGame">{{
                    game.is_primary ? "Primary" : ""
                  }}</span>
                </v-list-tile-content>

                <v-list-tile-action>
                  <v-tooltip color="error" left>
                    <template v-slot:activator="{ on }">
                      <v-btn flat icon v-on="on" class="mr-1">
                        <v-icon
                          color="error"
                          @click="selectBookingForCancellation(game.id)"
                          >mdi-close</v-icon
                        >
                      </v-btn>
                    </template>
                    <span>Cancel booking</span>
                  </v-tooltip>
                </v-list-tile-action>
              </v-list-tile>
            </v-slide-x-transition>
          </v-list>
        </v-slide-x-transition>
      </v-flex>
    </v-layout>
    <v-dialog v-model="dialogCancel" max-width="400">
      <v-card>
        <v-card-title class="headline error"
          ><span class="text--white">Cancellation</span></v-card-title
        >

        <v-card-text>
          Do you really want to cancel your booking?
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn flat="flat" @click="dialogCancel = false">
            Cancel
          </v-btn>

          <v-btn flat="flat" @click="removeBooking()">
            Remove
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-navigation-drawer>
</template>

<script>
export default {
  name: "GamePanel",
  data() {
    return {
      date: "12.11.2019",
      games: ["Cudowna gra", "Inna gra", "Ta trzecia"],
      dialogCancel: false,
      bookingId: ""
    };
  },
  computed: {
    bookings() {
      return this.$store.state["bookings"];
    },
    shown: {
      get() {
        return this.$store.state["drawerShown"];
      },
      set(newValue) {
        this.$store.commit("SET_DRAWER_STATE", newValue);
      }
    }
  },
  methods: {
    removeBooking() {
      this.$store.dispatch("removeBooking", this.bookingId).then(() => {
        this.dialogCancel = false;
        this.$store.dispatch("getBookings");
        this.loading = true;
        this.$store.dispatch("getGames").then(() => {
          this.loading = false;
        });
      });
    },
    selectBookingForCancellation(id) {
      this.bookingId = id;
      this.dialogCancel = true;
    }
  },
  created() {
    this.$store.dispatch("getBookings");
  }
};
</script>

<style scoped>
.gamePanel {
  color: white;
  font-size: 2rem;
  padding: 20px;
  letter-spacing: 1px;
}

.dateStyle {
  color: white;
  font-size: 1.8rem;
  letter-spacing: 1px;
  margin-bottom: 6px;
}
.primaryGame {
  color: gray !important;
  position: relative;
  top: -5px;
  padding-left: 10px;
}
.dateBorder {
  border-bottom: 1px dashed white;
  margin-bottom: 20px;
}
</style>
